EmogrifierMailer:
  css_file: "/themes/mytheme/css/emailTypography.css"

NewsletterAdmin:
  template_paths:
    - themes/mytheme/templates/Email

SubscriptionPage:
  icon: "mysite/images/treeicons/SubscriptionPage"

